@import "@/assets/palette.scss";

.bg-firstColor {
    background-color: $FirstColor;
}

.color-secondColor {
    color: $SecondColor !important;
}

.fullWidth {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 2.5em;
    font-weight: 600;
    align-self: center !important;
}

.subTitle {
    font-size: 1.2em;
    font-weight: bolder;
}

.contentText {
    font-size: 0.9em;
    color: $FontColor;
}

.v-center {
    align-items: center !important;
    display: flex;
}

.v-top {
    align-items: flex-start !important;
    text-align: end;
}

.v-bot {
    align-items: flex-end !important;
    display: flex;
}

.gryffindor {
    background-color: #740001;    
}
.slytherin {
    background-color: #2a623d;
}
.hufflepuff {
    background-color: #f0c75e;
    color: $FourthColor !important;
}
.ravenclaw {
    background-color: #222f5b;
}
.horizontalLine {
    border-bottom-style: solid;
    border-width: 2px;
    height: 0;
    border-block-color: $FirstColor;
    box-shadow: 1px 1px 3px 1px $FirstColor;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 60%;
}
