@import "@/assets/palette.scss";

.bg-firstColor {
    background-color: $FirstColor;
}

.color-secondColor {
    color: $SecondColor !important;
}

.fullWidth {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 2.5em;
    font-weight: 600;
    align-self: center !important;
}

.subTitle {
    font-size: 1.2em;
    font-weight: bolder;
}

.contentText {
    font-size: 0.9em;
    color: $FontColor;
}

.v-center {
    align-items: center !important;
    display: flex;
}

.v-top {
    align-items: flex-start !important;
    text-align: end;
}

.v-bot {
    align-items: flex-end !important;
    display: flex;
}

.badge {
    &.gryffindor {
        background-color: #740001 !important;
    }
    &.slytherin {
        background-color: #2a623d;
    }
    &.hufflepuff {
        background-color: #f0c75e;
    }
    &.ravenclaw {
        background-color: #222f5b;
    }
}
